@import "mixins.scss";
@import "variables.scss";

.page-footer {
  width: 100%;
  height: 325px;
  background-color: #003268;
  position: relative;

  &__container {
    display: grid;
    padding: 15px 0;
    grid-template-columns: 100%;
    color: #ffffff;
  }

  &__wrapper-menu-block {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 45px;
  }

  &__wrapper-icons {
    align-self: center;
    justify-self: end;
  }

  &__vk-icon {
    margin-right: 20px;
  }

  &__sfedu-icon,
  &__vk-icon {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__line {
    position: absolute;
    top: 95px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #F7F7F7;
  }

  &__wrapper-contact-block {
    display: grid;
    font-family: $open_sans_regular;
    line-height: 1.35;
    font-size: 16px;
    grid-template-columns: 50% 50%;
  }

  &__title,
  &__address,
  &__number,
  &__email {
    margin-bottom: 10px;
  }

  &__address {
    width: 430px;
  }

  &__visit {
    width: 400px;
    grid-column: 2;
    grid-row: 1/4;
    justify-self: end;
    text-align: right;
    font-size: 16px;
    line-height: 1.35;
  }

  &__copyright {
    font-family: $open_sans_regular;
    @include font_base(400, 12px, 1.33, #F7F7F7);
    justify-self: center;
    margin-top: 20px;
    grid-column: 1 / 3;
  }

    &__wrapper-icons--mobile{
    display: none;
  }
}

.btn-form {
  width: 168px;
  height: 40px;
  background-color: #11549C;
  font-family: $open_sans_bold;
  @include font_base(600, 16px, 1.33, #FFFFFF);
  border-radius: 10px;
  justify-self: end;
  margin-top: -50px;

  &:hover {
    background-color: #3e3da5;
    box-shadow: 0px 4px 4px #094280, 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  &:active {
    box-shadow: inset 0px 4px 4px #094280, 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.footer-menu {
  font-family: $open_sans_regular;
  @include font_base(400, 17px, 1.35, #F7F7F7);
  text-transform: uppercase;
  width: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, auto);
  align-self: center;
  column-gap: 15px;

  &__item:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 25px;
      width: 1px;
      height: 27px;
      background-color: #F7F7F7;
    }
  }

  &__link {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
