@import "mixins.scss";
@import "variables.scss";

.page-header {
  width: 100%;
  height: 100px;
  position: fixed;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background-color: #fff;
  z-index: 5;

  &__container {
    display: grid;
    grid-template-columns: 81px 420px 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    overflow: visible;
  }

  &__logo-desktop-sfedu {
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__link-museum {
    margin-left: 15px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__header-menu {
    font-family: $open_sans_regular;
    @include font_base(400, 17px, 1.35, #014080);
    text-transform: uppercase;
  }

  &__sign-up {
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #ffffff);
    text-transform: uppercase;
    width: 203px;
    height: 34px;
    justify-self: end;
    background-color: #FF9F43;
    border-radius: 35px;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 3px 10px 3px #a86527;
    }

    &:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 10px 1px #a86527;
    }
  }

  &__logo-mobile-sfedu,
  &__svg-mobile-museum {
    display: none;
  }
}

.header-menu {

  &__list-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
  }

  &__arrow {
    position: absolute;
    width: auto;
    left: 105%;

    &:hover {
      cursor: pointer;
    }

  }

  &__item {
    @include font_base(400, 17px, 1.35, #003268);
    position: relative;

    &:nth-child(2) {
      margin: 0 10px 0 0;
    }
  }

  &__link {

    &:hover,
    &:active {
      @include font_base(600, 17px, 1.35, #003268);
    }

    &:hover .header-menu__arrow-svg path,
    &:active .header-menu__arrow-svg path {
      stroke: #003268;
    }
  }

  &__link._active {
    @include font_base(600, 17px, 1.35, #003268);
  }

  &__link._active &__arrow-svg path {
    stroke: #003268;
  }

  &__exposition-svg {
    display: none;
  }
}

.item--event-mobile {
  display: none;
}

.list-exposition._active {
  font-family: $open_sans_bold;
  @include font_base(700, 17px, 1.35, #002B59);
  text-transform: none;
  max-height: 500px;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, auto);
  left: 0;
  top: 61.5px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  z-index: 5;
}

.list-exposition-mobile._active,
.list-exposition-mobile {
  display: none;
}

.list-exposition {
  display: none;

  &__item {

    &:nth-child(1) a {
      padding-top: 10px;
    }

    &:last-child a {
      padding-bottom: 10px;
    }
  }

  &__link {
    display: grid;
    grid-template-columns: 90px 1fr;
    column-gap: 20px;
    align-items: center;
    width: 503px;
    padding: 10px 30px;
    text-align: center;

    &:hover {
      background: rgba(255, 159, 67, 0.27);
    }
  }
}

.list-events-mobile{
  display: none;
}
