@import "mixins.scss";
@import "variables.scss";

@media (max-width: 767.98px) {
  .page-expo-automation{
    background: url(../img/bg_mobile_avtomation.png) 0 -50px no-repeat;
  }

  .page-expo-aviation{
    background: url(../img/bg_mobile_aviation.png) 0 -50px no-repeat;
  }

  .page-expo-electronics{
    background: url(../img/bg_mobile_electro.png) 0 -150px no-repeat;
  }

  .page-expo-radio{
    background: url(../img/bg_mobile_radio.png) 0 -50px no-repeat;
  }

  .expo-bg{
    background-color: #EDEDED;
    width: 100vw;
    min-height: 1170px;
    background-position: center;
  }

  .expo {
    &__container {
      text-align: center;
    }

    &__title {
      @include font_base(800, 20px, 1.35, #002B59);
      font-family: $open_sans_bold;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .exposition-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 265px;
    column-gap: 0;
    row-gap: 61px;
    margin-bottom: 60px;
    justify-content: center;

    &__item {
      background-color: #fff;
      padding: 5px;
      width: 265px;
      height: 308px;
      text-align: start;

      &:hover{
        opacity: 0.8;
      }

      &:active{
        opacity: 0.6;
      }
    }

    &__wrapper-photo {
      width: 255px;
      height: 200px;
      background-color: #EDEDED;
      margin-bottom: 9px;
    }

    &__photo {
    }

    &__title {
      padding-left: 10px;
      margin-bottom: 5px;
      @include font_base(700, 17px, 1.35, #002B59);
      font-family: $open_sans_bold;
    }

    &__text {
      padding-left: 10px;
      @include font_base(600, 12px, 1.35, #5A7FA7);
      font-family: $open_sans_regular;
    }
  }

  .pagination-list-expo {
    display: grid;
    grid-template-columns: repeat(5, 31px);
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 70px;

    &__item {
      @include font_base(400, 22px, 1.35, #002B59);
      font-family: $open_sans_regular;

      &:hover{
        background-color: #F6D0AC;
        border-radius: 100%;
        cursor: pointer;
      }
      &:first-child:hover,
      &:last-child:hover{
        background-color: transparent;
        opacity: 0.7;
      }
    }
  }

  .pagination-list-expo__item+._active{
    background-color: #F6D0AC;
    border-radius: 100%;
  }
}
