@import "mixins.scss";
@import "variables.scss";

.page-main {
  margin-top: 100px;
  background: #EDEDED;
}

.main-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 40px 100px 0 100px;
  column-gap: 50px;

  &__item {
    font-family: $open_sans_regular;
    @include font_base(600, 20px, 1.35, #003268);
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: grid;
    padding-top: 20px;

    .main-menu__link:hover & {
      opacity: 0.8;
    }

    .main-menu__link:active & {
      opacity: 0.6;
    }
  }

  &__link {

    &:hover .main-menu__wrapper {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &:hover .wrapper--news {
      background: linear-gradient(180deg, rgba(255, 180, 107, 0.6) 45.26%, rgba(255, 193, 133, 0) 241.41%);
    }

    &:hover .wrapper--about-museum {
      background: linear-gradient(180deg, rgba(255, 134, 18, 0.6) 32.89%, rgba(255, 159, 67, 0) 210.5%);
    }

    &:hover .wrapper--chat-bot {
      background: linear-gradient(180deg, rgba(0, 50, 104, 0.6) 0%, rgba(0, 50, 104, 0) 230.73%);
    }

    &:hover .wrapper--laba {
      background: linear-gradient(180deg, rgba(0, 78, 162, 0.6) 0%, rgba(0, 78, 162, 0) 205.73%);
    }

    &:active .main-menu__wrapper {
      box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 171px;
    border-radius: 50%;
  }
}

.wrapper--news {
  background: linear-gradient(180deg, rgba(255, 180, 107, 0.6) 18.75%, rgba(255, 193, 133, 0) 100%);
}

.wrapper--news::after {
  content: "";
  width: 75px;
  height: 67px;
  background-image: url(../img/icon_news.svg);
}

.wrapper--about-museum {
  background: linear-gradient(180deg, rgba(255, 134, 18, 0.6) 15.62%, rgba(255, 159, 67, 0) 100%);
}

.wrapper--about-museum::after {
  content: "";
  width: 78px;
  height: 81px;
  background-image: url(../img/icon_about_museum.svg);
}

.wrapper--laba {
  background: linear-gradient(180deg, rgba(0, 78, 162, 0.6) 0%, rgba(0, 78, 162, 0) 100%);
}

.wrapper--laba::after {
  content: "";
  width: 77px;
  height: 88px;
  background-image: url(../img/icon_laba.svg);
}

.wrapper--chat-bot {
  background: linear-gradient(180deg, rgba(0, 50, 104, 0.6) 0%, rgba(0, 50, 104, 0) 100%);
}

.wrapper--chat-bot::after {
  content: "";
  width: 92px;
  height: 79px;
  background-image: url(../img/icon_chat_bot.svg);
}

.about-museum {
  font-family: $montserrat-regular;

  &__container {
    margin-top: 80px;
    padding: 40px 90px 70px 20px;
    height: 580px;
    background: url(../img/background_1.png) 0 0 no-repeat;
    display: grid;
    grid-template-areas:
      "t p"
      "f p"
      "fi p"
      "t2 t2"
    ;
  }

  &__bold-text-desktop {
    padding-left: 3px;
  }

  &__bold-text-mobile {
    display: none;
  }

  &__title {
    @include font_base(500, 35px, 1.17, #003268);
    grid-area: t;
  }

  &__bold-text {
    @include font_base(800, 35px, 1.17, #003268);
    text-transform: uppercase;
  }

  &__feature {
    @include font_base(600, 20px, 1.4, #003268);
    grid-area: f;
  }

  &__filling {
    font-family: $open_sans_regular;
    @include font_base(400, 17px, 1.35, #003268);
    grid-area: fi;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(600, 20px, 1.4, #003268);
    grid-area: t2;
  }

  &__photo {
    margin-left: 60px;
    margin-top: 25px;
    grid-area: p;
    height: 358px;
    width: 360px;
    background: url(../img/museum_first_block.jpg) 0 0 no-repeat;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.news {
  &__main-wrapper {
    width: 1120px;
    margin: 0 auto;
    position: relative;
  }

  &__container {
    width: 1000px;
    margin-top: 40px;
    padding-top: 20px;
    height: 550px;
    background: url(../img/bg_slider_desktop.png) -90px 0 no-repeat;
  }

  &__title {
    display: grid;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__title-mobile {
    display: none;
  }
}


.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
  position: absolute !important;
  top: center;
  left: center;
  width: 18px;
  height: 27px;
}

.swiper-button-prev::after {
  background: url(../img/slider_prev_arrow.svg) center no-repeat;
}

.swiper-button-next::after {
  background: url(../img/slider_next_arrow.svg) center no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 43px !important;
  border-radius: 48px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1 !important;
  background: rgba(255, 159, 67, 0.5);
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 159, 67, 0.8);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev:active,
.swiper-button-next:active,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  border: none;
  outline: none;
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: -10px !important;
}


.news-list {

  .swiper-slide {
    font-family: $open_sans_regular;
    background-color: #FFFFFF;
    padding: 6px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__article {
    display: grid;
  }

  &__article-title,
  &__about-news,
  &__data {
    padding-left: 5px;
  }

  &__article-title {
    margin-top: 10px;
    @include font_base(700, 17px, 1.2, #003268);
    padding-bottom: 10px;
  }

  &__about-news {
    @include font_base(600, 14px, 1.36, #5A7FA7);
    padding-bottom: 15px;
  }

  .news__link:hover &__about-news {
    color: #003268;
  }

  &__data {
    font-family: $montserrat-regular;
    @include font_base(500, 13px, 1.23, #979797);
    padding-bottom: 10px;
  }
}

.swiper {
  overflow: visible !important;
}

.filling-museum {

  &__container {
    background: url(../img/bg_filling_museum.png);
    padding-top: 75px;
    margin-top: -20px;
    display: grid;
    grid-template-areas:
      "t t"
      "i1 i2"
      "i3 i4"
      "i5 i5"
    ;
    z-index: -2;
  }

  &__item {
    position: relative;
    z-index: 0;
  }

  &__title {
    text-align: center;
    grid-area: t;
  }

  &__item-1 {
    grid-area: i1;
    margin-left: 50px;
  }

  &__item-photo {}

  &__photo-1 {}

  &__item-text {
    font-family: $open_sans_regular;
    @include font_base(400, 15px, 1.33, #003268);
    text-align: justify;
    background-color: #F7F7F7;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 15px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text-1 {
    width: 403px;
    height: 119px;
    padding-left: 35px;
    top: 30px;
    left: 70px;
    z-index: -1;
  }

  &__item-2 {
    margin-top: 70px;
    grid-area: i2;
    justify-self: end;
  }

  &__photo-2 {}

  &__text-2 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 388px;
    height: 100px;
    top: 240px;
    left: 115px;
  }

  &__item-3 {
    grid-area: i3;
    margin-top: -160px;
  }

  &__photo-3 {}

  &__text-3 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 482px;
    height: 144px;
    top: 310px;
    left: 160px;
  }

  &__item-4 {
    grid-area: i4;
  }

  &__photo-4 {
    margin-top: 50px;
    margin-left: 160px;
  }

  &__item-5 {
    grid-area: i5;
    padding-bottom: 168px;
  }

  &__photo-5 {}

  &__text-4 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 841px;
    height: 185px;
    padding: 10px 18px;
    top: 350px;
    left: 230px;
  }
}

.history-museum {

  &__container {
    width: 970px;
    height: 584px;
    margin: 20px auto;
    position: relative;
    background: url(../img/bg_history_desktop.png) 0 center no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    overflow: visible;
    padding-left: 130px;
    margin-top: -20px;
  }

  &__logo {
    width: 347px;
    height: 314px;
    background: url(../img/history_logo_desktop.png);
  }

  &__article {
    text-align: center;
    background-color: #FFFFFF;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    padding: 95px 50px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  }

  &__title {
    text-align: center;
  }

  &__title-svg-desktop {
    margin-bottom: 25px;
  }

  &__title-svg-mobile {
    display: none;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(400, 15px, 1.47, #000000);
    padding-bottom: 30px;
  }

  &__more-btn {
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #ffffff);
    text-transform: uppercase;
    background-color: #FF9F43;
    border-radius: 22px;
    padding: 6px 35px;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 3px 10px 3px #a86527;
    }

    &:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 10px 1px #a86527;
    }
  }
}

.exposition-main {
  margin-bottom: 40px;

  &__container {
    background: url(../img/bg_exposition.png) 0 0 no-repeat;
    display: grid;
  }

  &__photo {
    width: 560px;
    height: 335px;
    background: url(../img/exposition_plan.png) center center no-repeat;
    margin: 70px auto 0 auto;
  }

  &__title {
    justify-self: center;
    padding-bottom: 15px;
  }

  &__title-svg-desktop {}

  &__title-svg-mobile {
    display: none;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(400, 17px, 1.35, #000000);
    text-align: center;
    width: 700px;
    padding: 2px 10px;
    justify-self: center;
    padding-bottom: 45px;
  }
}

.exposition-list-main-page {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    display: grid;
  }

  &__svg {
    width: 136px;
    height: 136px;
    padding-bottom: 15px;
  }

  &__link {
    width: 175px;
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #003268);
    text-align: center;
  }

  &__link:hover p {
    text-decoration: underline;
  }

  &__text {}
}
