@import "mixins.scss";
@import "variables.scss";

@media (max-width: 767.98px) {

  .news-article {
    background-color: #fff;
    display: grid;
    justify-content: center;
    margin-bottom: 0;

    &__wrapper {
      display: grid;
      width: 300px;
      padding: 15px 0 30px;
    }

    &__title {
      @include font_base(900, 16px, 1.35, #003268);
      font-family: $open_sans_bold;
      margin-bottom: 10px;
    }

    &__date {
      @include font_base(600, 10px, 1.35, #777777);
      font-family: $open_sans_regular;
      margin-bottom: 10px;
    }

    &__photo {
      display: block;
      margin: 0 auto 30px;
      width: 100%;
      height: 206px;
    }

    &__text {
      text-indent: 20px;
      text-align: justify;
      @include font_base(400, 13px, 1.35, #000000);
      font-family: $open_sans_regular;
      margin-bottom: 30px;
    }

    &__link-back {
      @include font_base(700, 14px, 1.35, #ffffff);
      font-family: $open_sans_regular;
      background-color: #878b8e;
      border-radius: 10px;
      padding: 7px 23px;
      justify-self: start;
      margin-right: 10px;

      &:hover{
        opacity: 0.8;
      }

      &:active{
        opacity: 0.6;
      }
    }
  }
}
