@import "mixins.scss";
@import "variables.scss";

.page-wrapper {
  min-height: 75%;
}

.page-main {
  margin-top: 100px;
  background: #EDEDED;
  position: relative;
}

.main-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 40px 100px 0 100px;
  column-gap: 50px;

  &__item {
    font-family: $open_sans_regular;
    @include font_base(600, 20px, 1.35, #003268);
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: grid;
    padding-top: 20px;

    .main-menu__link:hover & {
      opacity: 0.8;
    }

    .main-menu__link:active & {
      opacity: 0.6;
    }
  }

  &__link {

    &:hover .main-menu__wrapper {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &:hover .wrapper--news {
      background: linear-gradient(180deg, rgba(255, 180, 107, 0.6) 45.26%, rgba(255, 193, 133, 0) 241.41%);
    }

    &:hover .wrapper--about-museum {
      background: linear-gradient(180deg, rgba(255, 134, 18, 0.6) 32.89%, rgba(255, 159, 67, 0) 210.5%);
    }

    &:hover .wrapper--chat-bot {
      background: linear-gradient(180deg, rgba(0, 50, 104, 0.6) 0%, rgba(0, 50, 104, 0) 230.73%);
    }

    &:hover .wrapper--laba {
      background: linear-gradient(180deg, rgba(0, 78, 162, 0.6) 0%, rgba(0, 78, 162, 0) 205.73%);
    }

    &:active .main-menu__wrapper {
      box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 171px;
    border-radius: 50%;
  }
}

.wrapper--news {
  background: linear-gradient(180deg, rgba(255, 180, 107, 0.6) 18.75%, rgba(255, 193, 133, 0) 100%);
}

.wrapper--news::after {
  content: "";
  width: 65px;
  height: 57px;
  background-image: url(../img/icon_news.svg);
}

.wrapper--about-museum {
  background: linear-gradient(180deg, rgba(255, 134, 18, 0.6) 15.62%, rgba(255, 159, 67, 0) 100%);
}

.wrapper--about-museum::after {
  content: "";
  width: 70px;
  height: 73px;
  background-image: url(../img/icon_about_museum.svg);
}

.wrapper--laba {
  background: linear-gradient(180deg, rgba(0, 78, 162, 0.6) 0%, rgba(0, 78, 162, 0) 100%);
}

.wrapper--laba::after {
  content: "";
  width: 66px;
  height: 78px;
  background-image: url(../img/icon_laba.svg);
}

.wrapper--chat-bot {
  background: linear-gradient(180deg, rgba(0, 50, 104, 0.6) 0%, rgba(0, 50, 104, 0) 100%);
}

.wrapper--chat-bot::after {
  content: "";
  width: 83px;
  height: 66px;
  background-image: url(../img/icon_chat_bot.svg);
}

.about-museum {
  font-family: $montserrat-regular;

  &__container {
    margin-top: 80px;
    padding: 40px 90px 70px 20px;
    height: 580px;
    background: url(../img/background_1.png) 0 0 no-repeat;
    display: grid;
    grid-template-areas:
      "t p"
      "f p"
      "fi p"
      "t2 t2"
    ;
  }

  &__bold-text-desktop {
    padding-left: 3px;
  }

  &__bold-text-mobile {
    display: none;
  }

  &__title {
    @include font_base(500, 35px, 1.17, #003268);
    grid-area: t;
  }

  &__bold-text {
    @include font_base(800, 35px, 1.17, #003268);
    text-transform: uppercase;
  }

  &__feature {
    @include font_base(600, 20px, 1.4, #003268);
    grid-area: f;
  }

  &__filling {
    font-family: $open_sans_regular;
    @include font_base(400, 17px, 1.35, #003268);
    grid-area: fi;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(600, 20px, 1.4, #003268);
    grid-area: t2;
  }

  &__photo {
    margin-left: 60px;
    margin-top: 25px;
    grid-area: p;
    height: 358px;
    width: 360px;
    background: url(../img/museum_first_block.jpg) 0 0 no-repeat;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.news {
  &__main-wrapper {
    width: 1120px;
    margin: 0 auto;
    position: relative;
  }

  &__container {
    width: 1000px;
    margin-top: 40px;
    padding-top: 35px;
    height: 550px;
    background: url(../img/bg_slider_desktop.png) -90px 0 no-repeat;
  }

  &__title {
    display: grid;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__title-mobile {
    display: none;
  }

  &__all-news {
    display: grid;
    justify-content: end;

    &-link {
      @include font_base(600, 17px, 1.35, #002B59);
      font-family: $open_sans_regular;
      text-transform: uppercase;
      text-align: end;
      margin-right: 95px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -40px;
        width: 28px;
        height: 25px;
        background: url(../img/all_news_arrow.svg) 0 0 no-repeat;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}


.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
  position: absolute !important;
  top: center;
  left: center;
  width: 18px;
  height: 27px;
}

.swiper-button-prev::after {
  background: url(../img/slider_prev_arrow.svg) center no-repeat;
}

.swiper-button-next::after {
  background: url(../img/slider_next_arrow.svg) center no-repeat;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 43px !important;
  border-radius: 48px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1 !important;
  background: rgba(255, 159, 67, 0.5);
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(255, 159, 67, 0.8);
}

.swiper-button-prev:active,
.swiper-button-next:active {
  box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-button-prev:active,
.swiper-button-next:active,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  border: none;
  outline: none;
}

.swiper-button-prev {
  left: -10px !important;
}

.swiper-button-next {
  right: -10px !important;
}


.news-list {

  .swiper-slide {
    font-family: $open_sans_regular;
    background-color: #FFFFFF;
    padding: 6px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__article {
    display: grid;
  }

  &__article-title,
  &__about-news,
  &__data {
    padding-left: 5px;
  }

  &__article-title {
    margin-top: 10px;
    @include font_base(700, 17px, 1.2, #003268);
    padding-bottom: 10px;
  }

  &__about-news {
    @include font_base(600, 14px, 1.36, #5A7FA7);
    padding-bottom: 15px;
  }

  .news__link:hover &__about-news {
    color: #003268;
  }

  &__data {
    font-family: $montserrat-regular;
    @include font_base(500, 13px, 1.23, #979797);
    padding-bottom: 10px;
  }
}

.swiper {
  overflow: visible !important;
}

.filling-museum {

  &__container {
    background: url(../img/bg_filling_museum.png);
    padding-top: 75px;
    margin-top: -20px;
    display: grid;
    grid-template-areas:
      "t t"
      "i1 i2"
      "i3 i4"
      "i5 i5"
    ;
    z-index: -2;
  }

  &__item {
    position: relative;
    z-index: 0;
  }

  &__title {
    text-align: center;
    grid-area: t;
  }

  &__item-1 {
    grid-area: i1;
    margin-left: 50px;
  }

  &__item-text {
    font-family: $open_sans_regular;
    @include font_base(400, 15px, 1.33, #003268);
    text-align: justify;
    background-color: #F7F7F7;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 8px 15px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text-1 {
    width: 403px;
    height: 119px;
    padding-left: 35px;
    top: 30px;
    left: 70px;
    z-index: -1;
  }

  &__item-2 {
    margin-top: 70px;
    grid-area: i2;
    justify-self: end;
  }

  &__text-2 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 388px;
    height: 100px;
    top: 240px;
    left: 115px;
  }

  &__item-3 {
    grid-area: i3;
    margin-top: -160px;
  }

  &__text-3 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 482px;
    height: 144px;
    top: 310px;
    left: 160px;
  }

  &__item-4 {
    grid-area: i4;
  }

  &__photo-4 {
    margin-top: 50px;
    margin-left: 160px;
  }

  &__item-5 {
    grid-area: i5;
    padding-bottom: 168px;
  }

  &__text-4 {
    @include font_base(400, 15px, 1.37, #000000);
    width: 841px;
    height: 185px;
    padding: 10px 18px;
    top: 350px;
    left: 230px;
  }
}

.history-museum {

  &__container {
    width: 970px;
    height: 584px;
    margin: 20px auto;
    position: relative;
    background: url(../img/bg_history_desktop.png) 0 center no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    overflow: visible;
    padding-left: 130px;
    margin-top: -20px;
  }

  &__logo {
    display: block;
    width: 347px;
    height: 434px;
    background: url(../img/history_logo_desktop.svg) -80px -30px no-repeat;
  }

  &__logo-mobile{
    display: none;
  }

  &__article {
    text-align: center;
    background-color: #FFFFFF;
    width: 464px;
    height: 464px;
    border-radius: 50%;
    padding: 95px 50px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  }

  &__title {
    text-align: center;
  }

  &__title-svg-desktop {
    margin-bottom: 25px;
  }

  &__title-svg-mobile {
    display: none;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(400, 15px, 1.47, #000000);
    padding-bottom: 30px;
  }

  &__more-btn {
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #ffffff);
    text-transform: uppercase;
    background-color: #FF9F43;
    border-radius: 22px;
    padding: 6px 35px;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 3px 10px 3px #a86527;
    }

    &:active {
      cursor: pointer;
      box-shadow: inset 1px 1px 10px 1px #a86527;
    }
  }
}

.exposition-main {
  margin-bottom: 40px;

  &__container {
    background: url(../img/bg_exposition.png) 60px 10px no-repeat;
    display: grid;
  }

  &__photo {
    width: 620px;
    height: 335px;
    background: url(../img/exposition_plan.png) -5px -150px no-repeat;
    margin: 60px auto 0 auto;
  }

  &__title {
    justify-self: center;
    padding-bottom: 15px;
    margin-left: -85px;
  }

  &__title-svg-mobile {
    display: none;
  }

  &__text {
    font-family: $open_sans_regular;
    @include font_base(400, 17px, 1.35, #000000);
    text-align: center;
    width: 700px;
    padding: 2px 10px;
    justify-self: center;
    padding-bottom: 45px;
    margin-left: -95px;
  }
}

.exposition-list-main-page {
  display: grid;
  grid-auto-flow: row;
  column-gap: 34px;
  justify-items: stretch;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    width: 280px;
    display: grid;
  }

  &__svg {
    width: 136px;
    height: 136px;
    padding-bottom: 15px;
  }

  &__link {
    width: 175px;
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #003268);
    text-align: center;
  }

  &__link:hover p {
    text-decoration: underline;
  }
}

.events {
  margin-top: 90px;

  &__container {
    padding-top: 50px;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 33.33% 33.33% 33.33%;
    background: url(../img/event_background.png) 690px 0 no-repeat;
    justify-items: center;
  }

  &__content {
    padding-left: 80px;
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50% 22% 20%;
  }

  &__title-desktop {}

  &__link-calendar a,
  &__link-registration a {
    @include font_base(600, 17px, 1.35, #ffffff);
    font-family: $open_sans_regular;
    background-color: #11549C;
    border-radius: 50px;
    padding: 10px 30px;

    &:hover {
      box-shadow: 1px 1px 5px 1px #000000;
    }

    &:active {
      box-shadow: inset 1px 1px 5px 1px #000000;
    }
  }

  &__image {
    margin-left: 80px;
  }

  &__image--mobile{
    display: none;
  }

  &__title--mobile{
    display:  none;
  }
}

.advanced-features {

  &__container {
    height: 580px;
    display: grid;
    background: url(../img/background_chat_bot_laba.png) 0 0 no-repeat;
    background-size: cover;
    grid-template-columns: 1fr 1fr;
  }

  &__laba {
    width: 550px;
    padding: 0 65px;
    position: relative;
  }

  &__laba-svg-desktop {
    margin-top: 185px;
    padding-bottom: 2px;
    margin-bottom: 15px;
  }

  &__laba-svg-mobile {
    display: none;
  }

  &__icon {
    position: absolute;
    width: 159px;
    height: 159px;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  &__laba-icon {
    background-image: url(../img/icon_laba_main.svg);
    top: 305px;
    left: 230px;

    &:hover {
      background-color: #EDEDED;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__laba-text {
    font-family: $open_sans_regular;
    @include font_base(600, 17px, 1.35, #003268);
    padding-left: 15px;
  }

  &__chat-bot {
    position: relative;
    text-align: end;
    padding: 0 80px;
    padding-top: 290px;
  }

  &__chat-bot-icon {
    padding-bottom: 2px;
    margin-bottom: 15px;
    background-image: url(../img/icon_chat_bot_main.svg);

    &:hover {
      background-color: #EDEDED;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__chat-bot-svg-mobile {
    display: none;
  }

  &__chat-bot-text {
    width: 370px;
    text-align: normal;
    font-family: $open_sans_regular;
    @include font_base(600, 17px, 1.35, #003268);
    margin-left: 15px;
    margin-top: 15px;
  }

  &__svg-chat-bot-desktop {
    position: absolute;
    top: 390px;
    left: 80px;
  }
}

.museum-contacts {
  position: relative;
  height: 620px;
  width: 100vw;
  margin-bottom: -18px;
  padding-left: 40px;

  &__map {
    position: absolute;
    height: 620px;
    width: 100vw;
    z-index: 0;
    top: 18px;
    left: 0;
  }

  &__container {
    position: relative;
    width: 1120px;
    height: 620px;
  }
}

.text-block {
  font-family: $open_sans_regular;
  @include font_base(400, 15px, 1.33, #000000);
  text-align: center;
  position: absolute;
  background-color: #ffffff;
  width: 500px;
  height: 500px;
  top: 55px;
  left: 0px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(60px, 300px));
  padding: 90px 20px 90px 30px;
  grid-template-areas:
    "t t t"
    "a a a"
    "n e e"
    "alert alert alert";
  border-radius: 50%;
  z-index: 2;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);

  &__title {
    width: 300px;
    grid-area: t;
    font-family: $open_sans_bold;
    @include font_base(700, 20px, 1.35, #003268);
  }

  &__address {
    width: 350px;
    grid-area: a;
    margin-bottom: 20px;
  }

  &__bold-text {
    display: block;
    font-family: $open_sans_bold;
    @include font_base(700, 17px, 1.35, #003268);
    margin-bottom: 5px;
  }

  &__alert {
    width: 400px;
    grid-area: alert;
    padding-left: 0;
    padding-top: 30px;
  }

  &__email {
    grid-area: e;
    padding-left: 60px;
  }

  &__number {
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    grid-area: n;
    padding-left: 50px;
  }
}
